<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <!--<configSections>
  <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>-->
  
  <log4net debug ="true">
    
    <appender name="MyAppender" type="log4net.Appender.RollingFileAppender" >
      <file value="log4net.txt" />
     <appendToFile value = "true"/>
     <rollingStyle value = "Size"/>
     <maxSizeRollBackups value = "2"/>
     <maximumFileSize value = "2000KB"/>
     <staticLogFileName value = "true"/>

      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] - %message%newline" />
      </layout>
    </appender>
    
    <root>
      <level value ="ALL"/>
      <appender-ref ref="MyAppender" />
    </root>
    
    <logger name =" TestLogs">
    <level value ="ALL"/>
    <appender-ref ref="MyAppender" />
    </logger>
    
  </log4net>
  
</configuration>