<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ExtentReports" version="3.1.3" targetFramework="net471" />
  <package id="HtmlAgilityPack" version="1.4.9.5" targetFramework="net471" />
  <package id="Microsoft.AspNet.Razor" version="3.0.0" targetFramework="net471" />
  <package id="Microsoft.CodeCoverage" version="15.9.0" targetFramework="net471" />
  <package id="Microsoft.NET.Test.Sdk" version="15.9.0" targetFramework="net471" />
  <package id="Microsoft.TestPlatform.TestHost" version="15.9.0" targetFramework="net471" />
  <package id="MongoDB.Bson" version="2.4.0" targetFramework="net471" />
  <package id="MongoDB.Driver" version="2.4.0" targetFramework="net471" />
  <package id="MongoDB.Driver.Core" version="2.4.0" targetFramework="net471" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="net471" />
  <package id="RazorEngine" version="3.9.0" targetFramework="net471" />
  <package id="System.Runtime.InteropServices.RuntimeInformation" version="4.0.0" targetFramework="net471" />
  <package id="WebDriver.GeckoDriver" version="0.20.1" targetFramework="net471" />
  <package id="xunit.runner.console" version="2.4.1" targetFramework="net471" developmentDependency="true" />
  <package id="xunit.runner.visualstudio" version="2.4.1" targetFramework="net471" developmentDependency="true" />
</packages>