<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.CodeCoverage" version="15.9.0" targetFramework="net471" />
  <package id="Microsoft.NET.Test.Sdk" version="15.9.0" targetFramework="net471" />
  <package id="Microsoft.TestPlatform.TestHost" version="15.9.0" targetFramework="net471" />
  <package id="WebDriver.GeckoDriver" version="0.20.1" targetFramework="net471" />
  <package id="xunit.runner.console" version="2.4.1" targetFramework="net471" developmentDependency="true" />
  <package id="xunit.runner.visualstudio" version="2.4.1" targetFramework="net471" developmentDependency="true" />
</packages>