<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Common.Log" version="1.0.0.0" targetFramework="net471" />
  <package id="Common.Log.log4net" version="1.0.0.0" targetFramework="net471" />
  <package id="DotNetSeleniumExtras.WaitHelpers" version="3.11.0" targetFramework="net45" />
  <package id="EnvDTE" version="8.0.2" targetFramework="net461" />
  <package id="EnvDTE80" version="8.0.3" targetFramework="net461" />
  <package id="log4net" version="2.0.8" targetFramework="net471" />
  <package id="Microsoft.VisualStudio.OLE.Interop" version="7.10.6071" targetFramework="net461" />
  <package id="Microsoft.VisualStudio.SDK.EmbedInteropTypes" version="15.0.17" targetFramework="net461" />
  <package id="Microsoft.VisualStudio.Shell.Interop" version="7.10.6072" targetFramework="net461" />
  <package id="Microsoft.VisualStudio.Shell.Interop.10.0" version="10.0.30320" targetFramework="net461" />
  <package id="Microsoft.VisualStudio.Shell.Interop.11.0" version="11.0.61031" targetFramework="net461" />
  <package id="Microsoft.VisualStudio.Shell.Interop.12.0" version="12.0.30111" targetFramework="net461" />
  <package id="Microsoft.VisualStudio.Shell.Interop.8.0" version="8.0.50728" targetFramework="net461" />
  <package id="Microsoft.VisualStudio.TextManager.Interop" version="7.10.6071" targetFramework="net461" />
  <package id="Microsoft.VisualStudio.TextManager.Interop.8.0" version="8.0.50728" targetFramework="net461" />
  <package id="Microsoft.Web.Xdt" version="2.1.2" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="11.0.2" targetFramework="net461" />
  <package id="NuGet.Client" version="4.2.0" targetFramework="net45" />
  <package id="NuGet.Common" version="4.7.0" targetFramework="net461" />
  <package id="NuGet.ContentModel" version="4.2.0" targetFramework="net45" />
  <package id="NuGet.Core" version="2.14.0" targetFramework="net45" />
  <package id="NuGet.Frameworks" version="4.7.0" targetFramework="net461" />
  <package id="NuGet.Packaging" version="4.7.0" targetFramework="net461" />
  <package id="NuGet.Packaging.Core" version="4.7.0" targetFramework="net461" />
  <package id="NuGet.Repositories" version="4.2.0" targetFramework="net45" />
  <package id="NuGet.RuntimeModel" version="4.2.0" targetFramework="net45" />
  <package id="NuGet.Versioning" version="4.7.0" targetFramework="net461" />
  <package id="NuGet.VisualStudio" version="4.7.0" targetFramework="net461" />
  <package id="NUnit" version="3.10.1" targetFramework="net461" />
  <package id="NUnit3TestAdapter" version="3.10.0" targetFramework="net471" />
  <package id="Selenium.Chrome.WebDriver" version="2.38" targetFramework="net461" />
  <package id="Selenium.EFWExtensions" version="1.0.2.13" targetFramework="net45" />
  <package id="Selenium.Firefox.WebDriver" version="0.20.0" targetFramework="net45" />
  <package id="Selenium.Support" version="3.12.0" targetFramework="net461" />
  <package id="Selenium.WebDriver" version="3.12.0" targetFramework="net461" />
  <package id="Selenium.WebDriver.ChromeDriver" version="2.38.0.1" targetFramework="net461" />
  <package id="Selenium.WebDriver.IEDriver" version="3.12.0" targetFramework="net461" />
  <package id="stdole" version="7.0.3303" targetFramework="net461" />
  <package id="VSSDK.DTE" version="7.0.4" targetFramework="net461" />
  <package id="VSSDK.IDE" version="7.0.4" targetFramework="net461" />
  <package id="VSSDK.IDE.12" version="12.0.4" targetFramework="net461" />
  <package id="VSSDK.TemplateWizardInterface" version="12.0.4" targetFramework="net461" />
  <package id="xunit.runner.visualstudio" version="2.3.1" targetFramework="net461" developmentDependency="true" />
</packages>